body {
        margin: 0;
        background-color: rgb(252, 252, 252);
        font-family: Arial, sans-serif;
}

.pageBody {
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: "tahoma", sans-serif;
    
}


.pageContent {

    display: flex;
    gap: 2%;
}

header{
    display: flex;
    padding: 5px;
    font-family: "tahoma", sans-serif;
    margin-top: 0%;
    background-color: rgba(48, 36, 36, 0.938);
    font-family: "tahoma", sans-serif;
    color:rgb(230, 230, 230);
}

.leftSide {
    width: 80%;
    padding:1%;
    color:rgba(2, 29, 70);
    border-radius: 20px;

}

ol {
    list-style: none;
    counter-reset: any-name;
}

li{
    counter-increment: any-name;
    margin-bottom: 2rem;
    
    padding:0.3%
}

ol li:before{
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(151, 182, 182);
    content: counter(any-name);
    background: rgb(28, 29, 28);
    border-radius: 60%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.3rem;
}

.box {

background-color: rgba(133, 146, 145, 0.712);
padding: 3%;
border-radius: 1%;
}

.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding:100px;
    height:100px;
    background-color: rgb(165, 197, 110);
    color: rgba(2, 29, 70);
    position: sticky;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(19, 19, 19);
    top: 10%;
}

.calForm {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.calBtn {
    box-shadow: --sl-shadow-small;
}


.headerImage{
    display: flex;
    justify-self: center;
    height: 500px;
    width: 800px;
}

.vidSection{
    gap: 2%;
    padding:1%;
    color:rgba(2, 29, 70);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer{
    display:flex;
    justify-content: center;
    background-color: rgba(48, 36, 36, 0.938);
    font-family: "tahoma", sans-serif;
    color:rgb(230, 230, 230);
}

header, footer {
    background-color: rgba(2, 29, 70);
}